body, html {
    height: 100%;
}

h1 {
    margin-bottom: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; 
    padding: 10px 0; 
}
